
#start {
  color: #000080;
  font-family: monospace;
  letter-spacing: 5px;
  font-size: 1100%;
  margin-bottom: 2%;
  margin-top: 2%;
}

h4 {
  color: #138808;
  font-family: monospace;
  font-size: 14px;
  margin-left: 2%;
  margin-right: 2%;
}
.meny-mobil1 {
  display: none;
}
.meny-mobil2 {
  display: none;
}
.meny-mobil3 {
  display: none;
}
.meny {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-color: #ff9933;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: thick;
  border-bottom-width: thick;
  border-bottom-color: #ff9933;
  margin-left: 10%;
  margin-right: 10%;
}
.meny a {
  margin-left: 2%;
  margin-right: 2%;
  min-width: 17%;
}
a {
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 30%;
}
body {
  color: black;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.bilder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bild-info {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;

}
p {
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.footer1 {
  display: flex;
  width: 80%;
  bottom: 2%;
  align-items: center;
  justify-content: space-between;
  border-color: #ff9933;
  border-style: solid;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff9933;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer2 {
  display: none;
}

.textruta-bottom-kant {
  font-size: 11px;
  font-family: sans-serif;
  color: #138808;
  margin-left: 5%;
  margin-right: 5%;
}

.textruta-bottom-left {
  font-size: 11px;
  font-family: sans-serif;
  color: #138808;
  margin-left: 5%;
  margin-right: 10%;
}

.textruta-bottom-right {
  font-size: 11px;
  font-family: sans-serif;
  color: #138808;
  margin-left: 10%;
  margin-right: 5%;
}

.footer-mobil {
  display: none;
}

.bottom {
  font-size: 50px;
  font-family: serif;
}

hr {
  display: none;
}

#mobil-bild-index {
  display: none;
}

/* For mobile */
@media (max-width: 800px) {
 /* YOUR CODE */
 .bilder {
   display: none;
 }
 .meny {
   display: none;
 }
 .meny a {
   display: none;
 }

 #mobil-bild-index {
   display: block;
   justify-content: center;
   align-items: center;
   width: 100%;
 }
 #start /*Brev till mina barn - rubrik*/ {
   color: #000080;
   font-family: monospace;
   letter-spacing: 5px;
   font-size: 19px/*400%*/;
   margin-bottom: 2%;
   margin-top: 7%;
   font-weight: bolder;
 }

 hr {
   display: block;
   width: 80%;
   border: 2px solid #ff9933;
   margin-bottom: 0px;

 }
 .meny-mobil1 { /*bakgrunden i översta menyraden*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   align-items: center;
   justify-content: center;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
 }
 .meny-mobil2 { /*bakgrunden i mellan menyraden*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   align-items: center;
   justify-content: center;
   background-color: white;
   margin: auto;
 }
 .meny-mobil3 { /*bakgrunden i nedersta menyraden*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   align-items: center;
   justify-content: center;
   background-color: white;
   margin: auto;
 }
 .meny-mobil1 a { /*översta länkarna i menyn*/
   background-color: white;
   display: inline-block;
/*   align-items: center;
   justify-content: center;*/
   margin-left: 1%;
   margin-right: 1%;
   min-width: 35%;
   max-height: 28px;
 }
 .meny-mobil2 a { /*mellan länken i menyn*/
   background-color: white;
   display: inline-block;
  /* align-items: center;
   justify-content: center;*/
   margin: 1%;
   min-width: 72%;
   max-height: 28px;
 }
 .meny-mobil3 a { /*nedersta länkarna i menyn*/
   background-color: white;
   display: inline-block;
  /* align-items: center;
   justify-content: center;*/
   margin: 1%;
   min-width: 35%;
   max-height: 28px;
 }

  h4 {
    color: #138808;
    font-family: monospace;
    font-size: 11px;
  }
  p {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-family: serif;
    font-size: 80%;
  }

  .textruta-bottom-kant {
    display: none;
  }

  .textruta-bottom-left {
    display: none;
  }

  .textruta-bottom-right {
    display: none;
  }
  a {
    color: #138808;
    text-align: center;
  }

  .bottom {
    display: none;
  }
  .footer-mobil { /*Endast texten Gå till toppen*/
    display: flex;
    text-align: center;
    color: #138808;
    text-decoration: none;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
  }
  .footer1 {
    display: none;
  }
  .footer2 { /*bakgrunden i fotnoten*/
    display: flex;
    /*position: fixed;*/ /*justerar så att fotnoten är låst*/
    width: 80%;
    bottom: 2%;
    justify-content: center;
    border-color: #ff9933;
    border-style: solid;
    /*border-radius: 5px;*//*rundar hörnen*/
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff9933;
    padding-top: 1%;
    padding-bottom: 1%;
  }

}
